.App {
  text-align: center;
}

.todoList {
  max-width: 600px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction:column;
  align-items: center;
}

.todoList h1 {
  font-size: 2rem;
  text-align: center;
  color: rgb(61, 106, 188)
}

.todoList ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.todoList li {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.todoList input[type="checkbox"] {
  margin-right: 10px;
}

.inputButton {
  display: flex; 
  flex-direction: column;
  align-items: center;
}
.inputButton input[type="text"] {
  font-size: 1rem;
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.todoList button {
  background-color: #5691ee;
  color: #fff;
  font-size: 1rem;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.todoList button:hover {
  background-color: #515050;
}
.todoList .completed {
  text-decoration: line-through;
}
